# API Configuration
# Si usas virtual host de Laragon (videoteca.test)
VITE_API_URL=http://videoteca.test/api

# Si NO usas virtual host, usar:
# VITE_API_URL=http://localhost/videotecasfx/backend/api

# App Configuration
VITE_APP_NAME=Videoteca San Francisco Xavier
VITE_APP_VERSION=1.0.0

# Environment
VITE_APP_ENV=development
